<a href="https://colab.research.google.com/github/shashidhar078/MyPandas/blob/main/pandasbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
d = pd.read_csv("/content/FirstGenPokemon.csv")
df = pd.DataFrame(d)
# print(df)
print(df.head())

   Number        Name   Types  Type1   Type2   Height(m)   Weight(kg)  \
0       1   Bulbasaur       2  grass  poison         0.7          6.9
1       2     Ivysaur       2  grass  poison         1.0         13.0
2       3    Venusaur       2  grass  poison         2.0        100.0
3       4  Charmander       1   fire     NaN         0.6          8.5
4       5  Charmeleon       1   fire     NaN         1.1         19.0

    Male_Pct   Female_Pct   Capt_Rate  ...   Poison_Dmg  Ground_Dmg  \
0       87.5         12.5          45  ...          1.0         1.0
1       87.5         12.5          45  ...          1.0         1.0
2       87.5         12.5          45  ...          1.0         1.0
3       87.5         12.5          45  ...          1.0         2.0
4       87.5         12.5          45  ...          1.0         2.0

    Flying_Dmg   Psychic_Dmg   Bug_Dmg   Rock_Dmg   Ghost_Dmg   Dragon_Dmg  \
0          2.0           2.0       4.0        1.0           1            1
1          2.0           2.0       4.0        1.0           1            1
2          2.0           2.0       4.0        1.0           1            1
3          1.0           1.0       0.5        2.0           1            1
4          1.0           1.0       0.5        2.0           1            1

    Evolutions  Legendary
0            2          0
1            2          0
2            2          0
3            2          0
4            2          0

[5 rows x 35 columns]

# **indexing and slicing**

In [41]:
print(df.head())
#tail
print(df.tail())
print(df.describe())
print(df.shape)
print(df.dtypes)
print(df[1:9])
print(df.iloc[0:9,5])
print(df.iloc[:,[2,3,4]])
print(df.loc[0:4," Name":" Male_Pct"])

         Name  Types  Type1   Type2  Height(m)  Weight(kg)  Male_Pct
0   Bulbasaur      2  grass  poison        0.7         6.9      87.5
1     Ivysaur      2  grass  poison        1.0        13.0      87.5
2    Venusaur      2  grass  poison        2.0       100.0      87.5
3  Charmander      1   fire     NaN        0.6         8.5      87.5
4  Charmeleon      1   fire     NaN        1.1        19.0      87.5

In [ ]:
print(pandas.__version__)

2.2.2

#**WEEK 2 working with pandas and excersing with iris dataset**

In [ ]:
import sklearn as sk
import pandas as pd
from sklearn.datasets import load_iris

iris=load_iris()
df=pd.DataFrame(iris.data)
print(df)
print(df.shape)
print(type(df))
print(df.dtypes)
print(df.head(3))

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]
(150, 4)
<class 'pandas.core.frame.DataFrame'>
0    float64
1    float64
2    float64
3    float64
dtype: object
     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2