<a href="https://colab.research.google.com/github/shashidhar078/MyPandas/blob/main/pandasbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
d = pd.read_csv("/content/FirstGenPokemon.csv")
df = pd.DataFrame(d)
# print(df)
print(df.head())

   Number        Name   Types  Type1   Type2   Height(m)   Weight(kg)  \
0       1   Bulbasaur       2  grass  poison         0.7          6.9
1       1   Bulbasaur       2  grass  poison         0.7          6.9
2       3    Venusaur       2  grass  poison         2.0        100.0
3       4  Charmander       1   fire     NaN         0.6          8.5
4       5  Charmeleon       1   fire     NaN         1.1         19.0

    Male_Pct   Female_Pct   Capt_Rate  ...   Poison_Dmg  Ground_Dmg  \
0       87.5         12.5          45  ...          1.0         1.0
1       87.5         12.5          45  ...          1.0         1.0
2       87.5         12.5          45  ...          1.0         1.0
3       87.5         12.5          45  ...          1.0         2.0
4       87.5         12.5          45  ...          1.0         2.0

    Flying_Dmg   Psychic_Dmg   Bug_Dmg   Rock_Dmg   Ghost_Dmg   Dragon_Dmg  \
0          2.0           2.0       4.0        1.0           1            1
1          2.0           2.0       4.0        1.0           1            1
2          2.0           2.0       4.0        1.0           1            1
3          1.0           1.0       0.5        2.0           1            1
4          1.0           1.0       0.5        2.0           1            1

    Evolutions  Legendary
0            2          0
1            2          0
2            2          0
3            2          0
4            2          0

[5 rows x 35 columns]

# **indexing and slicing**

In [ ]:
print(df.head())
#tail
print(df.tail())
print(df.describe())
print(df.shape)
print(df.dtypes)
print(df[1:9])
print(df.iloc[0:9,5])
print(df.iloc[:,[2,3,4]])
print(df.loc[0:4," Name":" Male_Pct"])

         Name  Types  Type1   Type2  Height(m)  Weight(kg)  Male_Pct
0   Bulbasaur      2  grass  poison        0.7         6.9      87.5
1     Ivysaur      2  grass  poison        1.0        13.0      87.5
2    Venusaur      2  grass  poison        2.0       100.0      87.5
3  Charmander      1   fire     NaN        0.6         8.5      87.5
4  Charmeleon      1   fire     NaN        1.1        19.0      87.5

**Sorting dataset and manipulating dataframes**

In [ ]:
df.sort_values(" Height(m)")
df.sort_values(" Height(m)",ascending=False)
df['total']=0;
df['total']=df[' Height(m)']+df[' Weight(kg)']
df['state']='active/inactive'
print(df)
#drop state
df.drop(columns='state',inplace=True)
print(df)
df.loc[0,' Height(m)']=0.8
df.iloc[0,5]=0.8
df

     Number        Name   Types    Type1   Type2   Height(m)   Weight(kg)  \
0         1   Bulbasaur       2    grass  poison         0.8          6.9
1         2     Ivysaur       2    grass  poison         1.0         13.0
2         3    Venusaur       2    grass  poison         2.0        100.0
3         4  Charmander       1     fire     NaN         0.6          8.5
4         5  Charmeleon       1     fire     NaN         1.1         19.0
..      ...         ...     ...      ...     ...         ...          ...
146     147     Dratini       1   dragon     NaN         1.8          3.3
147     148   Dragonair       1   dragon     NaN         4.0         16.5
148     149   Dragonite       2   dragon  flying         2.2        210.0
149     150      Mewtwo       1  psychic     NaN         2.0        122.0
150     151         Mew       1  psychic     NaN         0.4          4.0

      Male_Pct   Female_Pct   Capt_Rate  ...   Flying_Dmg  Psychic_Dmg  \
0         87.5         12.5          45  ...          2.0          2.0
1         87.5         12.5          45  ...          2.0          2.0
2         87.5         12.5          45  ...          2.0          2.0
3         87.5         12.5          45  ...          1.0          1.0
4         87.5         12.5          45  ...          1.0          1.0
..         ...          ...         ...  ...          ...          ...
146       50.0         50.0          45  ...          1.0          1.0
147       50.0         50.0          45  ...          1.0          1.0
148       50.0         50.0          45  ...          1.0          1.0
149        0.0          0.0           3  ...          1.0          0.5
150        0.0          0.0          45  ...          1.0          0.5

      Bug_Dmg   Rock_Dmg   Ghost_Dmg   Dragon_Dmg   Evolutions  Legendary  \
0         4.0        1.0           1            1            2          0
1         4.0        1.0           1            1            2          0
2         4.0        1.0           1            1            2          0
3         0.5        2.0           1            1            2          0
4         0.5        2.0           1            1            2          0
..        ...        ...         ...          ...          ...        ...
146       1.0        1.0           1            2            2          0
147       1.0        1.0           1            2            2          0
148       0.5        2.0           1            2            2          0
149       2.0        1.0           0            1            0          1
150       2.0        1.0           0            1            0          1

     total            state
0      7.7  active/inactive
1     14.0  active/inactive
2    102.0  active/inactive
3      9.1  active/inactive
4     20.1  active/inactive
..     ...              ...
146    5.1  active/inactive
147   20.5  active/inactive
148  212.2  active/inactive
149  124.0  active/inactive
150    4.4  active/inactive

[151 rows x 37 columns]
     Number        Name   Types    Type1   Type2   Height(m)   Weight(kg)  \
0         1   Bulbasaur       2    grass  poison         0.8          6.9
1         2     Ivysaur       2    grass  poison         1.0         13.0
2         3    Venusaur       2    grass  poison         2.0        100.0
3         4  Charmander       1     fire     NaN         0.6          8.5
4         5  Charmeleon       1     fire     NaN         1.1         19.0
..      ...         ...     ...      ...     ...         ...          ...
146     147     Dratini       1   dragon     NaN         1.8          3.3
147     148   Dragonair       1   dragon     NaN         4.0         16.5
148     149   Dragonite       2   dragon  flying         2.2        210.0
149     150      Mewtwo       1  psychic     NaN         2.0        122.0
150     151         Mew       1  psychic     NaN         0.4          4.0

      Male_Pct   Female_Pct   Capt_Rate  ...   Ground_Dmg  Flying_Dmg  \
0         87.5         12.5          45  ...          1.0         2.0
1         87.5         12.5          45  ...          1.0         2.0
2         87.5         12.5          45  ...          1.0         2.0
3         87.5         12.5          45  ...          2.0         1.0
4         87.5         12.5          45  ...          2.0         1.0
..         ...          ...         ...  ...          ...         ...
146       50.0         50.0          45  ...          1.0         1.0
147       50.0         50.0          45  ...          1.0         1.0
148       50.0         50.0          45  ...          0.0         1.0
149        0.0          0.0           3  ...          1.0         1.0
150        0.0          0.0          45  ...          1.0         1.0

      Psychic_Dmg   Bug_Dmg   Rock_Dmg   Ghost_Dmg   Dragon_Dmg   Evolutions  \
0             2.0       4.0        1.0           1            1            2
1             2.0       4.0        1.0           1            1            2
2             2.0       4.0        1.0           1            1            2
3             1.0       0.5        2.0           1            1            2
4             1.0       0.5        2.0           1            1            2
..            ...       ...        ...         ...          ...          ...
146           1.0       1.0        1.0           1            2            2
147           1.0       1.0        1.0           1            2            2
148           1.0       0.5        2.0           1            2            2
149           0.5       2.0        1.0           0            1            0
150           0.5       2.0        1.0           0            1            0

     Legendary  total
0            0    7.7
1            0   14.0
2            0  102.0
3            0    9.1
4            0   20.1
..         ...    ...
146          0    5.1
147          0   20.5
148          0  212.2
149          1  124.0
150          1    4.4

[151 rows x 36 columns]

,Number,Name,Types,Type1,Type2,Height(m),Weight(kg),Male_Pct,Female_Pct,Capt_Rate,...,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,Evolutions,Legendary,total
0,1,Bulbasaur,2,grass,poison,0.8,6.9,87.5,12.5,45,...,1.0,2.0,2.0,4.0,1.0,1,1,2,0,7.7
1,2,Ivysaur,2,grass,poison,1.0,13.0,87.5,12.5,45,...,1.0,2.0,2.0,4.0,1.0,1,1,2,0,14.0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,2.0,2.0,4.0,1.0,1,1,2,0,102.0
3,4,Charmander,1,fire,NaN,0.6,8.5,87.5,12.5,45,...,2.0,1.0,1.0,0.5,2.0,1,1,2,0,9.1
4,5,Charmeleon,1,fire,NaN,1.1,19.0,87.5,12.5,45,...,2.0,1.0,1.0,0.5,2.0,1,1,2,0,20.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,1,dragon,NaN,1.8,3.3,50.0,50.0,45,...,1.0,1.0,1.0,1.0,1.0,1,2,2,0,5.1
147,148,Dragonair,1,dragon,NaN,4.0,16.5,50.0,50.0,45,...,1.0,1.0,1.0,1.0,1.0,1,2,2,0,20.5
148,149,Dragonite,2,dragon,flying,2.2,210.0,50.0,50.0,45,...,0.0,1.0,1.0,0.5,2.0,1,2,2,0,212.2
149,150,Mewtwo,1,psychic,NaN,2.0,122.0,0.0,0.0,3,...,1.0,1.0,0.5,2.0,1.0,0,1,0,1,124.0
150,151,Mew,1,psychic,NaN,0.4,4.0,0.0,0.0,45,...,1.0,1.0,0.5,2.0,1.0,0,1,0,1,4.4

**Handling duplicates and missing values**

In [ ]:
print(df.head())
df.duplicated()
df.drop_duplicates()
df
#to permanently drop from the data frame
df.drop_duplicates(inplace=True)
df.isnull()
missing_values=df.isnull().sum()
print(missing_values)
df.fillna(90)
df.dropna()

   Number        Name   Types  Type1   Type2   Height(m)   Weight(kg)  \
0       1   Bulbasaur       2  grass  poison         0.7          6.9
2       3    Venusaur       2  grass  poison         2.0        100.0
3       4  Charmander       1   fire     NaN         0.6          8.5
4       5  Charmeleon       1   fire     NaN         1.1         19.0
5       6   Charizard       2   fire  flying         1.7         90.5

    Male_Pct   Female_Pct   Capt_Rate  ...   Poison_Dmg  Ground_Dmg  \
0       87.5         12.5          45  ...          1.0         1.0
2       87.5         12.5          45  ...          1.0         1.0
3       87.5         12.5          45  ...          1.0         2.0
4       87.5         12.5          45  ...          1.0         2.0
5       87.5         12.5          45  ...          1.0         0.0

    Flying_Dmg   Psychic_Dmg   Bug_Dmg   Rock_Dmg   Ghost_Dmg   Dragon_Dmg  \
0          2.0           2.0      4.00        1.0           1            1
2          2.0           2.0      4.00        1.0           1            1
3          1.0           1.0      0.50        2.0           1            1
4          1.0           1.0      0.50        2.0           1            1
5          1.0           1.0      0.25        4.0           1            1

    Evolutions  Legendary
0            2          0
2            2          0
3            2          0
4            2          0
5            2          0

[5 rows x 35 columns]
Number           0
 Name            0
 Types           0
 Type1           0
 Type2          89
 Height(m)       0
 Weight(kg)      0
 Male_Pct        0
 Female_Pct      0
 Capt_Rate       0
 Exp_Points      0
 Exp_Speed       0
 Base_Total      0
 HP              0
 Attack          0
 Defense         0
 Special         0
 Speed           0
 Normal_Dmg      0
 Fire_Dmg        0
 Water_Dmg       0
 Eletric_Dmg     0
 Grass_Dmg       0
 Ice_Dmg         0
 Fight_Dmg       0
 Poison_Dmg      0
 Ground_Dmg      0
 Flying_Dmg      0
 Psychic_Dmg     0
 Bug_Dmg         0
 Rock_Dmg        0
 Ghost_Dmg       0
 Dragon_Dmg      0
 Evolutions      0
Legendary        0
dtype: int64

,Number,Name,Types,Type1,Type2,Height(m),Weight(kg),Male_Pct,Female_Pct,Capt_Rate,...,Poison_Dmg,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,Evolutions,Legendary
0,1,Bulbasaur,2,grass,poison,0.7,6.9,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.00,1.0,1,1,2,0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.00,1.0,1,1,2,0
5,6,Charizard,2,fire,flying,1.7,90.5,87.5,12.5,45,...,1.0,0.0,1.0,1.0,0.25,4.0,1,1,2,0
11,12,Butterfree,2,bug,flying,1.1,32.0,50.0,50.0,45,...,2.0,0.0,2.0,1.0,0.50,4.0,1,1,2,0
12,13,Weedle,2,bug,poison,0.3,3.2,50.0,50.0,255,...,1.0,1.0,2.0,2.0,2.00,2.0,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,142,Aerodactyl,2,rock,flying,1.8,59.0,87.5,12.5,45,...,0.5,0.0,0.5,1.0,0.50,2.0,1,1,0,0
143,144,Articuno,2,ice,flying,1.7,55.4,0.0,0.0,3,...,1.0,0.0,1.0,1.0,0.50,4.0,1,1,0,1
144,145,Zapdos,2,electric,flying,1.6,52.6,0.0,0.0,3,...,1.0,0.0,0.5,1.0,0.50,2.0,1,1,0,1
145,146,Moltres,2,fire,flying,2.0,60.0,0.0,0.0,3,...,1.0,0.0,1.0,1.0,0.25,4.0,1,1,0,1
148,149,Dragonite,2,dragon,flying,2.2,210.0,50.0,50.0,45,...,1.0,0.0,1.0,1.0,0.50,2.0,1,2,2,0

#**WEEK 2 working with pandas and excersing with iris dataset**

In [ ]:
import sklearn as sk
import pandas as pd
from sklearn.datasets import load_iris

iris=load_iris()
df=pd.DataFrame(iris.data)
print(df)
print(df.shape)
print(type(df))
print(df.dtypes)
print(df.head(3))

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]
(150, 4)
<class 'pandas.core.frame.DataFrame'>
0    float64
1    float64
2    float64
3    float64
dtype: object
     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2

In [5]:
import sklearn as sk
import pandas as pd
from sklearn.datasets import load_iris

iris=load_iris()
df=pd.DataFrame(iris.data)
print(df)
missing_values = df.isnull().sum()
display(missing_values)

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

0    0
1    0
2    0
3    0
dtype: int64

In [2]:
import sklearn
from sklearn import datasets
iris = datasets.load_iris()
print(iris.keys())
print(iris.data.shape)
print(iris.feature_names)
print(iris.DESCR)
iris = datasets.load_iris()
print("no.of observations: ", iris.data.shape[0])
missingvals = np.isnan(iris.data).sum()
print("no.of missing values: ", missingvals)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])
(150, 4)
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [7]:
import pandas as pd

df = pd.read_csv('iris.csv')
print(df.describe())

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
import pandas as pd
df = pd.read_csv('iris.csv')
groups = df.groupby('variety')
for species, group in groups:
    print(f"Species: {species}")
    print(group)

Species: Setosa
    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa
20           5.4          3.4           1.7          0.2  Setosa
21           5.1          3.7           1.5          0.4  Setosa
22           4.6          3.6           1.0          0.2  Setosa
23           5.1          3.3           1.7          0.5  Setosa
24           4.8          3.4           1.9          0.2  Setosa
25           5.0          3.0           1.6          0.2  Setosa
26           5.0          3.4           1.6          0.4  Setosa
27           5.2          3.5           1.5          0.2  Setosa
28           5.2          3.4           1.4          0.2  Setosa
29           4.7          3.2           1.6          0.2  Setosa
30           4.8          3.1           1.6          0.2  Setosa
31           5.4          3.4           1.5          0.4  Setosa
32           5.2          4.1           1.5          0.1  Setosa
33           5.5          4.2           1.4          0.2  Setosa
34           4.9          3.1           1.5          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
36           5.5          3.5           1.3          0.2  Setosa
37           4.9          3.6           1.4          0.1  Setosa
38           4.4          3.0           1.3          0.2  Setosa
39           5.1          3.4           1.5          0.2  Setosa
40           5.0          3.5           1.3          0.3  Setosa
41           4.5          2.3           1.3          0.3  Setosa
42           4.4          3.2           1.3          0.2  Setosa
43           5.0          3.5           1.6          0.6  Setosa
44           5.1          3.8           1.9          0.4  Setosa
45           4.8          3.0           1.4          0.3  Setosa
46           5.1          3.8           1.6          0.2  Setosa
47           4.6          3.2           1.4          0.2  Setosa
48           5.3          3.7           1.5          0.2  Setosa
49           5.0          3.3           1.4          0.2  Setosa
Species: Versicolor
    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor
55           5.7          2.8           4.5          1.3  Versicolor
56           6.3          3.3           4.7          1.6  Versicolor
57           4.9          2.4           3.3          1.0  Versicolor
58           6.6          2.9           4.6          1.3  Versicolor
59           5.2          2.7           3.9          1.4  Versicolor
60           5.0          2.0           3.5          1.0  Versicolor
61           5.9          3.0           4.2          1.5  Versicolor
62           6.0          2.2           4.0          1.0  Versicolor
63           6.1          2.9           4.7          1.4  Versicolor
64           5.6          2.9           3.6          1.3  Versicolor
65           6.7          3.1           4.4          1.4  Versicolor
66           5.6          3.0           4.5          1.5  Versicolor
67           5.8          2.7           4.1          1.0  Versicolor
68           6.2          2.2           4.5          1.5  Versicolor
69           5.6          2.5           3.9          1.1  Versicolor
70           5.9          3.2           4.8          1.8  Versicolor
71           6.1          2.8           4.0          1.3  Versicolor
72           6.3          2.5           4.9          1.5  Versicolor
73           6.1          2.8           4.7          1.2  Versicolor
74           6.4          2.9           4.3          1.3  Versicolor
75           6.6          3.0           4.4          1.4  Versicolor
76           6.8          2.8           4.8          1.4  Versicolor
77           6.7          3.0           5.0          1.7  Versicolor
78           6.0          2.9           4.5          1.5  Versicolor
79           5.7          2.6           3.5          1.0  Versicolor
80           5.5          2.4           3.8          1.1  Versicolor
81           5.5          2.4           3.7          1.0  Versicolor
82           5.8          2.7           3.9          1.2  Versicolor
83           6.0          2.7           5.1          1.6  Versicolor
84           5.4          3.0           4.5          1.5  Versicolor
85           6.0          3.4           4.5          1.6  Versicolor
86           6.7          3.1           4.7          1.5  Versicolor
87           6.3          2.3           4.4          1.3  Versicolor
88           5.6          3.0           4.1          1.3  Versicolor
89           5.5          2.5           4.0          1.3  Versicolor
90           5.5          2.6           4.4          1.2  Versicolor
91           6.1          3.0           4.6          1.4  Versicolor
92           5.8          2.6           4.0          1.2  Versicolor
93           5.0          2.3           3.3          1.0  Versicolor
94           5.6          2.7           4.2          1.3  Versicolor
95           5.7          3.0           4.2          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor
Species: Virginica
     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica
105           7.6          3.0           6.6          2.1  Virginica
106           4.9          2.5           4.5          1.7  Virginica
107           7.3          2.9           6.3          1.8  Virginica
108           6.7          2.5           5.8          1.8  Virginica
109           7.2          3.6           6.1          2.5  Virginica
110           6.5          3.2           5.1          2.0  Virginica
111           6.4          2.7           5.3          1.9  Virginica
112           6.8          3.0           5.5          2.1  Virginica
113           5.7          2.5           5.0          2.0  Virginica
114           5.8          2.8           5.1          2.4  Virginica
115           6.4          3.2           5.3          2.3  Virginica
116           6.5          3.0           5.5          1.8  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
119           6.0          2.2           5.0          1.5  Virginica
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [9]:
import pandas as pd
df = pd.read_csv('iris.csv')
df['Id'] = range(1, len(df) + 1)
print("DataFrame with Id column:")
print(df.head())
dfmodified = df.drop('Id', axis = 1) #or df.drop('Id', axis=1, inplace=True)
                                    # print(df.head())
print(dfmodified.head())

DataFrame with Id column:
   sepal.length  sepal.width  petal.length  petal.width variety  Id
0           5.1          3.5           1.4          0.2  Setosa   1
1           4.9          3.0           1.4          0.2  Setosa   2
2           4.7          3.2           1.3          0.2  Setosa   3
3           4.6          3.1           1.5          0.2  Setosa   4
4           5.0          3.6           1.4          0.2  Setosa   5
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [10]:
import pandas as pd
df = pd.read_csv('iris.csv')
print(df.iloc[0:1, 0:4])  # first row and first 4 columns
print(df.loc[0, df.columns[0:4]])

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
sepal.length    5.1
sepal.width     3.5
petal.length    1.4
petal.width     0.2
Name: 0, dtype: object