<a href="https://colab.research.google.com/github/shashidhar078/MyPandas/blob/main/pandasbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [31]:
d = pd.read_csv("/content/FirstGenPokemon.csv")
df = pd.DataFrame(d)
# print(df)
print(df.head())

   Number        Name   Types  Type1   Type2   Height(m)   Weight(kg)  \
0       1   Bulbasaur       2  grass  poison         0.7          6.9
1       1   Bulbasaur       2  grass  poison         0.7          6.9
2       3    Venusaur       2  grass  poison         2.0        100.0
3       4  Charmander       1   fire     NaN         0.6          8.5
4       5  Charmeleon       1   fire     NaN         1.1         19.0

    Male_Pct   Female_Pct   Capt_Rate  ...   Poison_Dmg  Ground_Dmg  \
0       87.5         12.5          45  ...          1.0         1.0
1       87.5         12.5          45  ...          1.0         1.0
2       87.5         12.5          45  ...          1.0         1.0
3       87.5         12.5          45  ...          1.0         2.0
4       87.5         12.5          45  ...          1.0         2.0

    Flying_Dmg   Psychic_Dmg   Bug_Dmg   Rock_Dmg   Ghost_Dmg   Dragon_Dmg  \
0          2.0           2.0       4.0        1.0           1            1
1          2.0           2.0       4.0        1.0           1            1
2          2.0           2.0       4.0        1.0           1            1
3          1.0           1.0       0.5        2.0           1            1
4          1.0           1.0       0.5        2.0           1            1

    Evolutions  Legendary
0            2          0
1            2          0
2            2          0
3            2          0
4            2          0

[5 rows x 35 columns]

# **indexing and slicing**

In [ ]:
print(df.head())
#tail
print(df.tail())
print(df.describe())
print(df.shape)
print(df.dtypes)
print(df[1:9])
print(df.iloc[0:9,5])
print(df.iloc[:,[2,3,4]])
print(df.loc[0:4," Name":" Male_Pct"])

         Name  Types  Type1   Type2  Height(m)  Weight(kg)  Male_Pct
0   Bulbasaur      2  grass  poison        0.7         6.9      87.5
1     Ivysaur      2  grass  poison        1.0        13.0      87.5
2    Venusaur      2  grass  poison        2.0       100.0      87.5
3  Charmander      1   fire     NaN        0.6         8.5      87.5
4  Charmeleon      1   fire     NaN        1.1        19.0      87.5

**Sorting dataset and manipulating dataframes**

In [15]:
df.sort_values(" Height(m)")
df.sort_values(" Height(m)",ascending=False)
df['total']=0;
df['total']=df[' Height(m)']+df[' Weight(kg)']
df['state']='active/inactive'
print(df)
#drop state
df.drop(columns='state',inplace=True)
print(df)
df.loc[0,' Height(m)']=0.8
df.iloc[0,5]=0.8
df

     Number        Name   Types    Type1   Type2   Height(m)   Weight(kg)  \
0         1   Bulbasaur       2    grass  poison         0.8          6.9
1         2     Ivysaur       2    grass  poison         1.0         13.0
2         3    Venusaur       2    grass  poison         2.0        100.0
3         4  Charmander       1     fire     NaN         0.6          8.5
4         5  Charmeleon       1     fire     NaN         1.1         19.0
..      ...         ...     ...      ...     ...         ...          ...
146     147     Dratini       1   dragon     NaN         1.8          3.3
147     148   Dragonair       1   dragon     NaN         4.0         16.5
148     149   Dragonite       2   dragon  flying         2.2        210.0
149     150      Mewtwo       1  psychic     NaN         2.0        122.0
150     151         Mew       1  psychic     NaN         0.4          4.0

      Male_Pct   Female_Pct   Capt_Rate  ...   Flying_Dmg  Psychic_Dmg  \
0         87.5         12.5          45  ...          2.0          2.0
1         87.5         12.5          45  ...          2.0          2.0
2         87.5         12.5          45  ...          2.0          2.0
3         87.5         12.5          45  ...          1.0          1.0
4         87.5         12.5          45  ...          1.0          1.0
..         ...          ...         ...  ...          ...          ...
146       50.0         50.0          45  ...          1.0          1.0
147       50.0         50.0          45  ...          1.0          1.0
148       50.0         50.0          45  ...          1.0          1.0
149        0.0          0.0           3  ...          1.0          0.5
150        0.0          0.0          45  ...          1.0          0.5

      Bug_Dmg   Rock_Dmg   Ghost_Dmg   Dragon_Dmg   Evolutions  Legendary  \
0         4.0        1.0           1            1            2          0
1         4.0        1.0           1            1            2          0
2         4.0        1.0           1            1            2          0
3         0.5        2.0           1            1            2          0
4         0.5        2.0           1            1            2          0
..        ...        ...         ...          ...          ...        ...
146       1.0        1.0           1            2            2          0
147       1.0        1.0           1            2            2          0
148       0.5        2.0           1            2            2          0
149       2.0        1.0           0            1            0          1
150       2.0        1.0           0            1            0          1

     total            state
0      7.7  active/inactive
1     14.0  active/inactive
2    102.0  active/inactive
3      9.1  active/inactive
4     20.1  active/inactive
..     ...              ...
146    5.1  active/inactive
147   20.5  active/inactive
148  212.2  active/inactive
149  124.0  active/inactive
150    4.4  active/inactive

[151 rows x 37 columns]
     Number        Name   Types    Type1   Type2   Height(m)   Weight(kg)  \
0         1   Bulbasaur       2    grass  poison         0.8          6.9
1         2     Ivysaur       2    grass  poison         1.0         13.0
2         3    Venusaur       2    grass  poison         2.0        100.0
3         4  Charmander       1     fire     NaN         0.6          8.5
4         5  Charmeleon       1     fire     NaN         1.1         19.0
..      ...         ...     ...      ...     ...         ...          ...
146     147     Dratini       1   dragon     NaN         1.8          3.3
147     148   Dragonair       1   dragon     NaN         4.0         16.5
148     149   Dragonite       2   dragon  flying         2.2        210.0
149     150      Mewtwo       1  psychic     NaN         2.0        122.0
150     151         Mew       1  psychic     NaN         0.4          4.0

      Male_Pct   Female_Pct   Capt_Rate  ...   Ground_Dmg  Flying_Dmg  \
0         87.5         12.5          45  ...          1.0         2.0
1         87.5         12.5          45  ...          1.0         2.0
2         87.5         12.5          45  ...          1.0         2.0
3         87.5         12.5          45  ...          2.0         1.0
4         87.5         12.5          45  ...          2.0         1.0
..         ...          ...         ...  ...          ...         ...
146       50.0         50.0          45  ...          1.0         1.0
147       50.0         50.0          45  ...          1.0         1.0
148       50.0         50.0          45  ...          0.0         1.0
149        0.0          0.0           3  ...          1.0         1.0
150        0.0          0.0          45  ...          1.0         1.0

      Psychic_Dmg   Bug_Dmg   Rock_Dmg   Ghost_Dmg   Dragon_Dmg   Evolutions  \
0             2.0       4.0        1.0           1            1            2
1             2.0       4.0        1.0           1            1            2
2             2.0       4.0        1.0           1            1            2
3             1.0       0.5        2.0           1            1            2
4             1.0       0.5        2.0           1            1            2
..            ...       ...        ...         ...          ...          ...
146           1.0       1.0        1.0           1            2            2
147           1.0       1.0        1.0           1            2            2
148           1.0       0.5        2.0           1            2            2
149           0.5       2.0        1.0           0            1            0
150           0.5       2.0        1.0           0            1            0

     Legendary  total
0            0    7.7
1            0   14.0
2            0  102.0
3            0    9.1
4            0   20.1
..         ...    ...
146          0    5.1
147          0   20.5
148          0  212.2
149          1  124.0
150          1    4.4

[151 rows x 36 columns]

,Number,Name,Types,Type1,Type2,Height(m),Weight(kg),Male_Pct,Female_Pct,Capt_Rate,...,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,Evolutions,Legendary,total
0,1,Bulbasaur,2,grass,poison,0.8,6.9,87.5,12.5,45,...,1.0,2.0,2.0,4.0,1.0,1,1,2,0,7.7
1,2,Ivysaur,2,grass,poison,1.0,13.0,87.5,12.5,45,...,1.0,2.0,2.0,4.0,1.0,1,1,2,0,14.0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,2.0,2.0,4.0,1.0,1,1,2,0,102.0
3,4,Charmander,1,fire,NaN,0.6,8.5,87.5,12.5,45,...,2.0,1.0,1.0,0.5,2.0,1,1,2,0,9.1
4,5,Charmeleon,1,fire,NaN,1.1,19.0,87.5,12.5,45,...,2.0,1.0,1.0,0.5,2.0,1,1,2,0,20.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,1,dragon,NaN,1.8,3.3,50.0,50.0,45,...,1.0,1.0,1.0,1.0,1.0,1,2,2,0,5.1
147,148,Dragonair,1,dragon,NaN,4.0,16.5,50.0,50.0,45,...,1.0,1.0,1.0,1.0,1.0,1,2,2,0,20.5
148,149,Dragonite,2,dragon,flying,2.2,210.0,50.0,50.0,45,...,0.0,1.0,1.0,0.5,2.0,1,2,2,0,212.2
149,150,Mewtwo,1,psychic,NaN,2.0,122.0,0.0,0.0,3,...,1.0,1.0,0.5,2.0,1.0,0,1,0,1,124.0
150,151,Mew,1,psychic,NaN,0.4,4.0,0.0,0.0,45,...,1.0,1.0,0.5,2.0,1.0,0,1,0,1,4.4

**Handling duplicates and missing values**

In [42]:
print(df.head())
df.duplicated()
df.drop_duplicates()
df
#to permanently drop from the data frame
df.drop_duplicates(inplace=True)
df.isnull()
missing_values=df.isnull().sum()
print(missing_values)
df.fillna(90)
df.dropna()

   Number        Name   Types  Type1   Type2   Height(m)   Weight(kg)  \
0       1   Bulbasaur       2  grass  poison         0.7          6.9
2       3    Venusaur       2  grass  poison         2.0        100.0
3       4  Charmander       1   fire     NaN         0.6          8.5
4       5  Charmeleon       1   fire     NaN         1.1         19.0
5       6   Charizard       2   fire  flying         1.7         90.5

    Male_Pct   Female_Pct   Capt_Rate  ...   Poison_Dmg  Ground_Dmg  \
0       87.5         12.5          45  ...          1.0         1.0
2       87.5         12.5          45  ...          1.0         1.0
3       87.5         12.5          45  ...          1.0         2.0
4       87.5         12.5          45  ...          1.0         2.0
5       87.5         12.5          45  ...          1.0         0.0

    Flying_Dmg   Psychic_Dmg   Bug_Dmg   Rock_Dmg   Ghost_Dmg   Dragon_Dmg  \
0          2.0           2.0      4.00        1.0           1            1
2          2.0           2.0      4.00        1.0           1            1
3          1.0           1.0      0.50        2.0           1            1
4          1.0           1.0      0.50        2.0           1            1
5          1.0           1.0      0.25        4.0           1            1

    Evolutions  Legendary
0            2          0
2            2          0
3            2          0
4            2          0
5            2          0

[5 rows x 35 columns]
Number           0
 Name            0
 Types           0
 Type1           0
 Type2          89
 Height(m)       0
 Weight(kg)      0
 Male_Pct        0
 Female_Pct      0
 Capt_Rate       0
 Exp_Points      0
 Exp_Speed       0
 Base_Total      0
 HP              0
 Attack          0
 Defense         0
 Special         0
 Speed           0
 Normal_Dmg      0
 Fire_Dmg        0
 Water_Dmg       0
 Eletric_Dmg     0
 Grass_Dmg       0
 Ice_Dmg         0
 Fight_Dmg       0
 Poison_Dmg      0
 Ground_Dmg      0
 Flying_Dmg      0
 Psychic_Dmg     0
 Bug_Dmg         0
 Rock_Dmg        0
 Ghost_Dmg       0
 Dragon_Dmg      0
 Evolutions      0
Legendary        0
dtype: int64

,Number,Name,Types,Type1,Type2,Height(m),Weight(kg),Male_Pct,Female_Pct,Capt_Rate,...,Poison_Dmg,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,Evolutions,Legendary
0,1,Bulbasaur,2,grass,poison,0.7,6.9,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.00,1.0,1,1,2,0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.00,1.0,1,1,2,0
5,6,Charizard,2,fire,flying,1.7,90.5,87.5,12.5,45,...,1.0,0.0,1.0,1.0,0.25,4.0,1,1,2,0
11,12,Butterfree,2,bug,flying,1.1,32.0,50.0,50.0,45,...,2.0,0.0,2.0,1.0,0.50,4.0,1,1,2,0
12,13,Weedle,2,bug,poison,0.3,3.2,50.0,50.0,255,...,1.0,1.0,2.0,2.0,2.00,2.0,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,142,Aerodactyl,2,rock,flying,1.8,59.0,87.5,12.5,45,...,0.5,0.0,0.5,1.0,0.50,2.0,1,1,0,0
143,144,Articuno,2,ice,flying,1.7,55.4,0.0,0.0,3,...,1.0,0.0,1.0,1.0,0.50,4.0,1,1,0,1
144,145,Zapdos,2,electric,flying,1.6,52.6,0.0,0.0,3,...,1.0,0.0,0.5,1.0,0.50,2.0,1,1,0,1
145,146,Moltres,2,fire,flying,2.0,60.0,0.0,0.0,3,...,1.0,0.0,1.0,1.0,0.25,4.0,1,1,0,1
148,149,Dragonite,2,dragon,flying,2.2,210.0,50.0,50.0,45,...,1.0,0.0,1.0,1.0,0.50,2.0,1,2,2,0

#**WEEK 2 working with pandas and excersing with iris dataset**

In [ ]:
import sklearn as sk
import pandas as pd
from sklearn.datasets import load_iris

iris=load_iris()
df=pd.DataFrame(iris.data)
print(df)
print(df.shape)
print(type(df))
print(df.dtypes)
print(df.head(3))

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]
(150, 4)
<class 'pandas.core.frame.DataFrame'>
0    float64
1    float64
2    float64
3    float64
dtype: object
     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2

In [ ]:
missing_values = df.isnull().sum()
display(missing_values)